.card {
    border: 2px solid brown;
    padding: 7rem;
    margin: 3rem;
    border-radius: 15px;
    text-align: center;
}

.card #num {
    border: 3px solid black;
    border-radius: 3px;
    background-color: aqua;
    padding: 10px 18px;
    display: none;
}

.card button {
    border-radius: 8px;
    padding: 7px 12px;
    color: rgb(70, 70, 70);
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}

.card .btn-start {
    background-color: coral;
}

.card .btn-guess {
    background-color: greenyellow;
    display: none;
}

.card #result {
    display: inline-block;
    margin-top: 30px;
}